.project-container {
    position: relative;
    transition: all 0.3s linear;
}

.project-container::before {
    position: absolute;
    content: "";
    top: 0;
    background-color: rgba(0, 49, 63, 0.5);
    height: 0;
    width: 100%;
    transition: all 0.4s linear;
}

.project-container:hover::before {
    height: 100%;
}

.project-container .overlay {
    position: absolute;
    bottom: -100%;
    width: 100%;
    transition: all 0.4s linear;
}

.project-container:hover .overlay {
    bottom: 0;
}
