.work-img-bar::-webkit-scrollbar {
    display: none;
}
.work-img {
    position: relative;
}
.work-img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 255, 218, 0.5);
    border-radius: 4px;
    transition: all 0.3s linear;
}
.work-img:hover::after {
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
}
.tec {
    word-spacing: 24px;
}
