.about-img {
    position: relative;
}
.about-img::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 199, 255, 0.5);
    border-radius: 4px;
    transition: all 0.3s linear;
}
.about-img:hover::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-radius: 4px;
}
.about-img .overlay {
    position: absolute;
    border: 3px rgb(0, 199, 255) solid;
    border-radius: 4px;
    top: 20px;
    left: 20px;
    bottom: -20px;
    right: -20px;
    z-index: -1;
    transition: all 0.2s linear;
}
.about-img:hover .overlay {
    top: 10px;
    left: 10px;
    bottom: -12px;
    right: -12px;
}
